
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
}

#main-photo {
  position: relative;
  top: 1.2rem;
  min-width: 30rem;
  max-width: 700px;
  width: 40vw;
}

#main-photo > div {
  left: 0;
  top: 0;
}

#sb > div > div {
  position: relative;
  left: 1rem;
  min-width: 30rem;
  max-width: 700px;
}

#reviews > div > div {
  position: relative;
  box-sizing: border-box;
  top: 1.2rem;
  min-width: 30rem;
  max-width: 700px;
  width: 40vw;
}

#blank {
  position: relative;
  min-width: 30.9rem;
  max-width: 700px;

}

#sln {
  position: relative;
  top: 1.2rem;
  right: .3vw;
  min-width: 30rem;
  max-width: 700px;
  width: 80vw;
}



@media only screen and (max-width: 600px) {

  body {
    width: 100%;
    overflow-x: hidden;
  }

  #main-photo {
    top: 0;
    min-width: 90vw;
    max-width: 600px;
  }

  #reviews > div > div {
    left: .75rem;
    top: 0;
    position: relative;
    width: 90vw;
    min-width: 90vw;
    max-width: 700px;
  }

  #sb {
    min-width: 10vw;
    max-width: 700px;
  }

  #sb > div > div {
    top: 0;
    min-width: 90vw;
    max-width: 700px;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }

  #blank {
    width: 0;
  }

  #sln {
    right: 1rem;
    top: 0;
    min-width: 25rem;
    width: 10vw;
  }
}