
body {
  display: grid;
  position: relative;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  /* grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  align-content: space-around; */
}

#main-photo > div {
  left: 0;
  top: 0;
}

#main-photo {
  position: relative;
  left: 6.5rem;
  min-width: 20rem;
  max-width: 700px;
}

#sb {
  position: sticky;
  left: 50rem;
  max-width: 700px;
  width: 90%;
}

#reviews {
  position: relative;
  left: 3.75rem;
  min-width: 20rem;
  max-width: 700px;
  width: 36vw;
}

#sln {
  position: relative;
  width: 1250px;
  left: -2.2rem;
  grid-row: 3/4;
  grid-column: 1/3;
}