

body {
  position: relative;
  margin: 0;
}
#top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

#main-photo {
  position: relative;
  align-content: center;
  top: 1rem;
  min-width: 30rem;
  max-width: 700px;
  width: 40vw;
}
#main-photo > div {
  left: 0;
  top: 0;
}

#sb {
  position: relative;
  margin: -2rem 0;
}

#sb > div > div {
  margin: 0;
  margin-top: 3rem;
  margin-left: 3rem;
  max-width: 700px;
  width: 90%;
}

#bottom {
  position: relative;
  top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#reviews > div > div {
  position: relative;
  width: 100vw;
  left: 15.6vw;
  min-width: 20rem;
  max-width: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sln {
  position: relative;
  right: 3vw;
}


 @media only screen and (max-width: 700px) {

  #main-photo {
    min-width: 20rem;
    max-width: 700px;
  }

  #reviews > div > div {
    width: 100%;
    top: 2rem;
    left: -.01rem;
    margin-bottom: 2rem;
  }

  #sb {
    margin-right: 0;
    }

  #sb > div > div {
  margin-top: 1;
  margin-left: auto;
  margin-right: auto;
  }

  #sln {
    width:100%;
  }
}